* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: $fontGothic;
  color: $black2;
}

a {
  text-decoration: none
}

ul, ol, li {
  list-style: none;
}
.content ul, .content ol, .content li {
  list-style: initial;
}
.content table{
  width: 100%;
  max-width: 100%;
  border: 1px solid #eff8ff;
  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    tr{
      background: #eff8ff;
      th{
        padding: 8px;
      }
    }
  }
  tbody{
    td{
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
      padding: 8px;
    }
  }
}
.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

button, input, textarea {
  border: none;
  outline: none;
  font-family: $fontGothic;
  background-color: transparent;
}

button {
  cursor: pointer;
}
