section.container {
  margin: 2em 10px;
}
  header.myHeader {
    min-height: 55px;
    border-bottom: 1px solid #eee;
    div.circle{
      float:left;
    }
  }
  .wrap,footer {
    width: 90%;
    margin: 0 auto;
  }
